html,
body {
    padding: 0;
    margin: 0;
}

.content-header {
    height: 5em;
    background-color: #004369;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.content-main {
    width: 60%;
    margin: 0 auto;
}

h1 {
    font-size: 2.5em;
    color: #DB1F48;
}

p {
    font-size: 1.9em;
}
