html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    overflow-x: hidden;
}

/* TODO: Tirar dúvidas sobre classes simples (globais) */
h1 {
    font-size: 2.5em;
    color: #DB1F48;
}

p {
    font-size: 1.9em;
}

.flex {
    display: flex;
}

.color-blue {
    color: #004369;
}

/* ------------------------- */

.content-header {
    height: 5em;
    background-color: #004369;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.box-content {
    width: 60%;
    margin: 2em auto;
}

.box-icon {
    display: flex;
    align-items: center;
}

.box-icon p {
    font-size: 1.4em;
    margin: 0.3em 0;
}

.big-icon {
    height: 2em;
    margin: 0 1.8em;
}

.about {
    background-color: #004369;
    color: white;
    padding: 1.5em;
    margin: 2em 0;
}

.box-about {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* TODO: Tirar dúvidas sobre tamanhos de imagem */
.image-about {
    max-width: 360px;
    max-height: 280px;
    width: auto;
    height: auto;
    margin: 1em;
}

.text-image {
    text-align: center;
    margin-top: -0.5em;
    font-size: 1.5em;
}

.card-back-white {
    background-color: white;
    color: black;
    border-radius: 1.8em;
    padding: 1em;
    margin: 2em 0;
}

.box-logo {
    display: flex;
    justify-content: center;
}

.logo {
    width: 15%;
    margin: 1em 3em;
}

.icon-small {
    height: 1.2em;
    margin: 0 1.3em;
}