*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-size: 62.5%; /* 10px */
}

body,
button,
input,
select,
textarea {
  font-family: "Fira Sans", Sans-serif;
}

a {
  text-decoration: none;
  font-family: "Montserrat", Sans-serif;
  text-transform: uppercase;
  font-weight: 600;
}

a:hover {
  color: #16a5dc;
}

.hero {
  position: relative;
  padding: 16rem 0;
  background-image: url("../images/hero-bg.png");
  background-position: center center;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
  height: 100%;
  text-align: center;
}

.hero-overlay {
  position: relative;
  z-index: 1;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 19, 75, 0.6);
  z-index: 1;
}

.hero-text {
  font-size: 1.2rem;
  line-height: 2.4rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}

.headline {
  font-family: "Montserrat", Sans-serif;
  font-size: 7.2rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.8rem;
}

.subheadline {
  font-size: 1.8rem;
  line-height: 2.4rem;
  font-weight: 400;
  margin-top: 0.8rem;
}

.cta-button {
  color: white;
  background: linear-gradient(180deg, #62cffd 0%, #16a5dc 100%);
  border-radius: 4px 4px 4px 4px;
  padding: 12px 24px;
  font-size: 1.6rem;
  display: flex;
  flex-wrap: nowrap;
  width: fit-content;
  margin: 0 auto;
  margin-top: 2.4rem;
}

.cta-button:hover {
  background: #16a5dc;
  color: white;
}

#cta-aula {
  display: none;
}

.container-dark-blue {
  padding: 6rem 0;
  background: #000829;
  text-align: center;
}

.container-blue {
  padding: 6rem 0;
  background: #00135f;
  text-align: center;
}

.container-light-gray {
  padding: 6rem 0;
  background: #f2eeef;
  text-align: center;
}

.container-white {
  padding: 6rem 0;
  text-align: center;
}

.text-white {
  color: #ffffff;
}

.text-gray-200 {
  color: #f2eeef;
}

.text-gray-400 {
  color: #c3c5c8;
}

.text-gray-600 {
  color: #656a73;
}

.text-gray-700 {
  color: #79808a;
}

.text-gray-800 {
  color: #2d343d;
}

.text-primary {
  color: #62cffd;
}

.text-primary-600 {
  color: #16a5dc;
}

.text-center {
  text-align: center;
}

.bg-dark-blue {
  background: #000829;
}

.bg-blue {
  background: #00135f;
}

.bg-light-gray {
  background: #f2eeef;
}

.content {
  width: 70%;
  margin: 0 auto;
}

.subtitle {
  font-size: 2rem;
  line-height: 2.4rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.title {
  font-family: "Montserrat", Sans-serif;
  font-size: 2.4rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.text {
  font-size: 1.6rem;
}

.icon-boxes {
  margin: 4.8rem 0 1.6rem;
  display: flex;
  gap: 0.8rem;
}

.icon-box-v {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  gap: 1rem;
  padding: 8px;
}

.icon-box-v strong {
  font-size: 2.4rem;
}

.icon-box-v p {
  font-size: 1.6rem;
}

.icon-box-v i {
  font-size: 4rem;
  transition: all 0.2s;
}

.icon-box-v i:hover {
  color: #62cffd;
}

.icon-box-h {
  width: 100%;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  gap: 1.6rem;

  text-align: left;
}

.icon-wrapper,
.videos-wrapper,
.flex-wrapper {
  margin-top: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 5px;
  gap: 1.6rem;
}

.icon-box-h i {
  font-size: 3.2rem;
  transition: all 0.2s;
}

.icon-box-h i:hover {
  color: #62cffd;
}

.icon-box-h strong {
  font-size: 2.4rem;
}

.icon-box-h p {
  font-size: 1.6rem;
}

.what-is {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.what-is-left {
  width: 35%;
  text-align: left;
  border-right: 1px solid #d8d8d8;
  padding-right: 1.6rem;
}

.what-is-left i {
  font-size: 4rem;
  color: #d8d8d8;
  margin-bottom: 2rem;
}

.testimonal {
  margin-bottom: 4rem;
}

.testimonal-avatar {
  border-radius: 9999px;
  width: 7.2rem;
  height: 7.2rem;
  border: 4px solid #d8d8d8;
}

.testimonal-content {
  display: flex;
  align-items: center;
  gap: 8px;
}

.testimonal-text {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 1.6rem;
}

.testimonal-author {
  display: flex;
  flex-direction: column;
}

.testimonal-name {
  font-family: "Montserrat", Sans-serif;
  font-size: 1.8rem;
  cursor: pointer;
}

.testimonal-name:hover {
  color: #16a5dc;
}

.testimonal-role {
  font-size: 1.4rem;
  font-weight: 600;
  text-transform: uppercase;
}

.what-is-right {
  width: 75%;
  padding: 0 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.gallery {
  margin-top: 3.2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery-column {
  flex: 33%;
  max-width: 33%;
  padding: 0 4px;
}

.gallery-column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  transition: all 0.3s;
}

.gallery-column img:hover {
  opacity: 0.6;
  cursor: pointer;
}

.salaries {
  margin-top: 5.2rem;
  display: flex;
  gap: 8px;
}

.salaries-title {
  padding: 1rem;
  text-align: left;
  flex: 1;
}

.salaries-title h3 {
  font-size: 1.6rem;
}

.salaries-title h2 {
  font-size: 2.4rem;
}

.salaries-box {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex: 1;
  background-color: transparent;
  background-image: linear-gradient(165deg, #000829 0%, #00135f 100%);
  border: 1px solid #121f51;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.45);
  transition: all 0.3s;
  padding: 1.8rem 0.8rem;
  border-radius: 8px;
}

.salaries-box:hover {
  border: 1px solid #16a5dc;
}

.salaries-box h2 {
  font-family: "Montserrat", Sans-serif;
  font-size: 3.6rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 24px;
}

.salaries-box h3 {
  font-family: "Montserrat", Sans-serif;
  font-size: 2rem;
  font-weight: 700;
}

.salaries-box p {
  font-size: 1.4rem;
  font-weight: 400;
}

.info-wrapper {
  margin: 3.2rem 0;
}

.separator {
  width: 30%;
  border: 1px solid #d8d8d8;
  border-radius: 99999px;
  margin: 4rem auto;
}

.videos-wrapper {
  margin-top: 4rem;
}

.video-box {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1;
  align-items: center;
}

.video-box iframe {
  border-radius: 8px;
  height: 600px;
  max-width: 1070px;
}

.expert-avatar {
  border-radius: 9999px;
  width: 30%;
}

.expert-right {
  width: 65%;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  line-height: 2.4rem;
  width: 60%;
}

.price-wrapper {
  margin-top: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 8px;
  border: 1px solid #d8d8d8;

  background: #f8f8f8;
}

.price-left {
  height: 100%;
  width: 40%;
  background: #efefef;
  padding: 4rem 3.2rem;

  display: flex;
  flex-direction: column;
  gap: 1.6rem;

  font-family: "Montserrat", Sans-serif;
}

.price-left p {
  font-size: 1.4rem;
  font-weight: 700;
}

.price-line-through {
  text-decoration: line-through;
  font-size: 1.8rem;
  font-weight: 600;
}

.price-highlight {
  font-size: 2rem;
}

.price-left p strong {
  font-size: 3.2rem;
}

.price-left .price-lowlight {
  font-size: 1.2rem;
  font-weight: 600;
}

.price-right {
  height: 100%;
  width: 60%;
  padding: 2rem;
  text-align: left;
}

.price-right strong {
  font-family: "Montserrat", Sans-serif;
  font-size: 1.8rem;
  text-transform: uppercase;
}

.price-right ul {
  margin: 1rem 0 0 2rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.price-right li {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 1.6rem;

  padding: 1rem;
  border-bottom: 1px solid #d8d8d8;
}

.price-right li i {
  font-size: 1.6rem;
  color: #c3c5c8;
}

.outline-button {
  color: #16a5dc;
  border: 2px solid #16a5dc;
  border-radius: 4px 4px 4px 4px;
  padding: 12px 24px;
  font-size: 1.6rem;
  display: flex;
  flex-wrap: nowrap;
  width: fit-content;
  margin: 1.6rem auto;
}

.outline-button:hover {
  background: linear-gradient(180deg, #62cffd 0%, #16a5dc 100%);
  color: white;
}

summary {
  padding: 1rem;
  display: block;
  padding-left: 2.2rem;
  position: relative;
  cursor: pointer;

  font-weight: 600;
  transition: all 0.3s;
}

summary:before {
  content: "";
  border: 0.4rem solid;
  border-color: transparent transparent transparent #62cffd;
  position: absolute;
  top: 1.6rem;
  left: 1rem;
  transform: rotate(0);
  transform-origin: 0.2rem 50%;
  transition: 0.25s transform ease;
}

details {
  text-align: left;
  border-bottom: 1px solid #121f51;
}

details[open] > summary {
  color: #62cffd;
}

details[open] > summary:before {
  transform: rotate(90deg);
}

details > p {
  padding: 2rem;
}

.whatsapp-button {
  color: white;
  background-color: transparent;
  background-image: linear-gradient(180deg, #128c7e 0%, #075e54 100%);
  border-radius: 4px 4px 4px 4px;
  padding: 12px 24px;
  font-size: 1.6rem;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 8px;
  width: fit-content;
  margin: 1.6rem auto;
}

.whatsapp-button i {
  font-size: 1.8rem;
}

.whatsapp-button:hover {
  background: #128c7e;
  color: white;
}

.whatsapp-floating-button {
  position: fixed;
  bottom: 2rem;
  right: 2rem;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 9999px;
  width: 5rem;
  height: 5rem;
  padding: 1rem;
  background-color: #25d366;

  transition: all 0.3s;
  cursor: pointer;
}

.whatsapp-floating-button a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 4rem;
}

.whatsapp-floating-button:hover {
  background-color: #17a14b;
}

footer {
  padding: 1rem 0;
  font-family: "Montserrat", Sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.4rem;
  text-align: center;
}

.hero-dark-blue {
  padding: 10rem 0;
  text-align: left;
}

.hero-dark-blue::before {
  background-color: rgba(0, 15, 45, 0.9);
}

.hero-overlay-conheca a {
  margin: 2.4rem 0 0;
}

.hero-overlay-conheca {
  display: grid;
  grid-template-columns: 45% 65%;
  gap: 32px;
  align-items: center;
}

.hero-overlay-conheca-mobile {
  display: none;
}

.conheca-title {
  font-family: "Montserrat", Sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 6px;
}

.conheca-headline {
  font-family: "Montserrat", Sans-serif;
  font-size: 6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.conheca-subheadline {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 400;
  margin-top: 1rem;
}

.conheca-text {
  font-size: 1.2rem;
  font-weight: 500;
}

.conheca-text-icon {
  margin-top: 1rem;
  display: flex;
  gap: 8px;
  align-items: center;
}

.conheca-text-icon i {
  font-size: 1rem;
}

@media screen and (max-width: 800px) {
  .hero,
  .container-dark-blue,
  .container-blue,
  .container-light-blue,
  .container-white {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .hero-overlay-conheca {
    display: none;
  }

  .hero-overlay-conheca-mobile {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .content {
    width: 90%;
  }

  .icon-boxes,
  .videos-wrapper,
  .flex-wrapper {
    flex-direction: column;
    gap: 2.4rem;
  }

  .what-is {
    flex-direction: column;
  }

  .what-is-left,
  .what-is-right {
    width: 90%;
    text-align: left;
  }

  .what-is-left {
    border-right: 0;
    border-bottom: 1px solid #c3c5c8;
  }

  .what-is-right {
    padding: 0;
  }

  .gallery-column {
    flex: 50%;
    max-width: 50%;
  }

  .salaries {
    flex-direction: column;
  }

  .salaries-title {
    text-align: center;
  }

  .expert-avatar {
    width: 80%;
  }

  .expert-right {
    width: 100%;
  }

  .price-wrapper {
    flex-direction: column;
  }
  .price-left,
  .price-right {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .gallery-column {
    flex: 100%;
    max-width: 100%;
  }

  .video-box iframe {
    height: 200px;
  }
}
